/* Nav section design started from here */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  height: 92px;
}
.menuArea ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.menuArea ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.menuArea ul li {
  padding: 10px 10px;
  border-radius: 5px;
}
.menuArea ul li:hover {
  background-color: #469165;
}
.menuArea ul li:hover a {
  color: white;
}
.logoArea img {
  width: 139px;
  height: 60px;
}
.getArea button {
  width: 164px;
  height: 44px;
}

/* Banner area design started from here */
#bannerArea {
  height: 674px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/hero-bg.png);
  background-repeat: no-repeat;
}

.topArea {
  text-align: center;
}
.topArea a {
  background-color: #ffffff;
  font-size: 16px;
  color: #469165;
  padding: 8px 12px;
  border-radius: 1000px;
  margin-bottom: 16px;
  display: inline-block;
}
.topArea a:hover {
  background-color: #469165;
  color: #ffffff;
}
.topArea p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 32px;
}
.buttonArea {
  text-align: center;
}
.buttonArea button {
  height: 52px;
  padding: 16px;
  margin-right: 16px;
}
.hFirst {
  color: #ffffff;
}

.hSecond {
  color: #30b868;
}
.btn2 {
  background-color: rgba(70, 145, 101, 0.1);
  color: #ffffff;
  border: 1px solid white;
}

/* Note section design started from here */
.noteWraper {
  width: 85%;
  margin: 0 auto;
  margin-top: 80px;
}
.headSection {
  text-align: center;
  margin-bottom: 44px;
}
.noteCard {
  display: flex;
  gap: 24px;
}
.card {
  text-align: center;
  border-radius: 10px;
  max-width: 322px;
  box-shadow: 0px 5px 20px rgb(181, 179, 179);
  transition-duration: 0.2s;
}
.card:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.7);
}
.card img {
  margin-top: 69px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #f95555;
  padding: 15px;
}

.card h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  padding-left: 24px;
  padding-right: 24px;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  padding-left: 24px;
  padding-right: 24px;
}

/* Knowledge section design started from here */
.knowledgeWraper {
  width: 85%;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  height: 600px;
  gap: 60px;
}

.knowledgeLeft img {
  max-width: 600px;
  max-height: 600px;
}
.knowledgeRight {
  margin: auto 0;
}
.knowledgeRight h6 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.knowledgeRight h2 {
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}
.knowledgeParagraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
.check img {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.check p {
  display: inline;
  font-size: 16px;
  font-weight: 500;
  color: #001931;
  margin-bottom: 16px;
  padding-top: -105px;
}

/* Early cccess section design started from here */
.earlyAccessWraper {
  width: 85%;
  background-color: #f7f6f2;
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
}

.earlyAccessWraper h2 {
  padding-top: 80px;
}

.earlyAccessWraper button {
  height: 52px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
}

.earlyAccessWraper p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  font-weight: 400;
}
.earlyAccessP {
  padding-bottom: 80px;
}

/* Footer section design started form here */
footer {
  background-color: #001931;
  height: 348px;
}
footer hr {
  width: 85%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 30px;
  border: 1px solid #002445;
}
.footerLeft img {
  width: 139px;
  height: 60px;
}
.footerWraper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  padding-top: 120px;
}

.footerRight h4 {
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
